@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lexend:wght@100..900&display=swap');

body {
    background-color: indigo;
    color: white;
    font-family: 'Lexend', sans-serif;
    /* background image gotten from https://freerangestock.com/photos/165447/starry-night-sky-over-tranquil-lake.html */
    background-image: url('./img/Free_Nature_Stock____PGHWKDGQYE.jpg');
    background-size: 1200px;
    background-repeat: no-repeat;
    background-position: center center;
}

header {
    margin: auto;
    width: auto;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
}

main {
    max-width: 1000px;
    width: auto;
    margin: auto;
    padding: auto;
}

footer {
    max-width: 800px;
    margin: auto;
    width: auto;
    text-align: center;
}

p {
    line-height: 1.5;
}

footer p {
    line-height: 1;
}

a:link { color: gold; }
a:visited { color: khaki; }
a:active { color: orange; }

.username { 
    font-family: "JetBrains Mono", monospace, monospace;
}
